* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

ol,
ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

.burger-menu {
    display: none;
}

body {
    font-size: 16px;

    .header {
        background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
        height: 800px;

        .container {
            max-width: 1050px;
            width: 100%;
            margin: 0 auto;

            .header-menu {
                position: fixed;
                width: 1050px;
                top: 0;
                z-index: 5;
                height: 92px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #FFF;
                font-family: Manrope;
                font-size: 1rem;
                font-weight: 700;
                line-height: normal;

                .header-menu__buttons {
                    .nav-menu {
                        display: flex;
                        gap: 20px;
                        justify-content: center;
                        align-items: center;

                        .nav-menu__link {
                            display: flex;
                            border: 1px solid #FFF;
                            padding: 10px 16px;
                            border-radius: 20px;

                            img {
                                margin-right: 12px;
                            }
                        }
                    }
                }
            }

            .header__main-title {
                width: 846px;
                padding-top: 376px;
                color: #FFF;
                font-family: DynaPuff;
                font-size: 5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .meet {
        width: 100%;
        height: 470px;
        background: #202020;
        position: relative;
        overflow: hidden;

        .container {
            max-width: 1050px;
            width: 100%;
            margin: 0 auto;

            .meet-text {
                padding-top: 101px;
                width: 540px;
                display: flex;
                flex-direction: column;
                gap: 40px;

                .meet-text__title {
                    color: #FAEB49;
                    font-family: DynaPuff;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .meet-text__main {
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .meet-statistics {
                    display: flex;
                    gap: 96px;

                    .meet-statistics__number {
                        color: #FFF;
                        font-family: DynaPuff;
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .meet-statistics__text {
                        color: #FFF;
                        font-family: Manrope;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
        }

        .meet__circles {
            width: 268px;
            height: 512px;
            position: absolute;
            top: -40px;
            right: 0;

            .meet__circles--circle-one,
            .meet__circles--circle-two {
                position: absolute;
                width: 268px;
                height: 512px;
                border-radius: 50%;
                border: 1px solid #737373;
            }

            .meet__circles--circle-one {
                transform: rotate(45deg);
            }

            .meet__circles--circle-two {
                transform: rotate(-45deg);
            }
        }
    }

    .projects {
        height: 1460px;
        background: #3C3C3C;

        .container {
            padding-top: 86px;
            max-width: 1050px;
            width: 100%;
            margin: 0 auto;

            .projects__banking-app {
                display: flex;
                width: 1050px;
                height: 680px;
                padding: 24px 20px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-radius: 24px;
                background: #FFFEF2;

                .projects__banking-app--title {
                    padding-top: 20px;
                    color: #565656;
                    font-family: DynaPuff;
                    font-size: 2.5rem;
                    font-weight: 600;
                    line-height: normal;
                }

                .projects__banking-app--text {
                    width: 580px;
                    color: #000;
                    font-family: Manrope;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            .projects__wrapper {
                margin-top: 63px;
                display: flex;
                gap: 40px;

                .projects__first-proj {
                    display: flex;
                    width: 325px;
                    height: 545px;
                    padding: 20px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 24px;
                    background: #FFFEF2;
                }

                .projects__second-proj {
                    display: flex;
                    width: 325px;
                    height: 545px;
                    padding: 20px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 24px;
                    background: #FFFEF2;
                }

                .projects__third-proj {
                    display: flex;
                    width: 325px;
                    height: 545px;
                    padding: 20px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 24px;
                    background: #FFFEF2;
                }

                .projects__first-proj--title {
                    margin-top: 20px;
                    color: #565656;
                    font-family: DynaPuff;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: normal;
                    align-self: stretch;
                }

                .projects__second-proj--title {
                    margin-top: 20px;
                    color: #565656;
                    font-family: DynaPuff;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .projects__third-proj--title {
                    margin-top: 20px;
                    color: #565656;
                    font-family: DynaPuff;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .projects__proj--text {
                    width: 285px;
                    color: #000;
                    font-family: Manrope;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }

    .graphics-design {
        height: 1220px;
        background: #202020;

        .container {
            max-width: 1050px;
            margin: 0 auto;
            padding-top: 82px;

            .graphics-design__title {
                color: #FFF;
                font-family: DynaPuff;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: normal;
            }

            .graphics-design__first-pict {
                position: relative;
                width: 1055px;
                height: 414px;
                border-radius: 40px;
                margin-top: 38px;
            }

            .graphics-design__first-pict::before {
                content: url(../images/Soft\ Star.png);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }

            .graphics-design__img-wrapper {
                display: flex;

                .graphics-design__second-pict {
                    width: 514px;
                    height: 414px;
                    margin-top: 26px;
                    position: relative;
                    margin-right: 26px;
                }

                .graphics-design__second-pict::before {
                    content: url(../images/Butterfly.svg);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                }

                .graphics-design__third-pict {
                    width: 514px;
                    height: 414px;
                    margin-top: 26px;
                    position: relative;
                }

                .graphics-design__third-pict::before {
                    content: url(../images/Asterisk\ 1.svg);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                }
            }
        }
    }

    .quote {
        background-image: url(../images/Rectangle\ 8.png);

        .quote-wrapper {
            position: relative;
            height: 800px;

            .quote__title-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .quote__title {
                    width: 1059px;
                    color: #FFF;
                    font-family: DynaPuff;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }

    .footer {
        height: auto;
        background: #202020;
        text-align: center;

        .new-project {
            margin-top: 78px;
            display: inline-flex;
            padding: 42px 137px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border-radius: 139px;
            border: 1px solid var(--Gray-6, #F2F2F2);


            .new-project__wraper {
                display: flex;

                .new-project__text-wraper {
                    margin-left: 45px;

                    .new-project__title {
                        color: #FFF;
                        font-family: DynaPuff;
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .new-project__text-book {
                        display: flex;
                        align-items: center;
                        margin-top: 17px;
                        color: #FFF;
                        font-family: Manrope;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        .new-project__text {
                            margin-right: 24px;
                        }
                    }
                }
            }
        }

        .social-media {
            margin-top: 163px;
            display: flex;
            justify-content: center;
            gap: 34px;

        }

        .footer__text {
            margin-top: 21px;
            padding-bottom: 35px;
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }


    @media screen and (min-width: 768px) and (max-width: 1200px) {

        .header {

            .container {
                max-width: 708px;
                margin: 0 auto;

                .header-menu {
                    position: fixed;
                    width: 708px;

                    .burger-menu {
                        display: flex;
                        padding: 20px;
                        gap: 12px;
                        border-radius: 20px;
                        border: 2px solid #FFF;
                        align-items: center;
                        position: absolute;
                        right: 0;
                        cursor: pointer;
                        color: #FFF;
                    }

                    .header-menu__buttons {
                        display: none;
                    }
                }

                .header__main-title {
                    width: 521px;
                    padding-top: 273px;
                }
            }
        }

        .meet {
            .container {
                max-width: 708px;
            }

            .meet__circles {
                right: -120px;
            }
        }

        .projects {
            height: 1590px;

            .container {
                max-width: 708px;
                padding-top: 52px;

                .projects__banking-app {
                    width: 708px;

                    .projects__banking-app--image {
                        width: 663px;
                        height: 458px;
                    }
                }

                .projects__wrapper {
                    margin-top: 102px;

                    .projects__first-proj {
                        width: 333px;
                        height: 634px;
                    }

                    .projects__first-proj--image {
                        width: 293px;
                        height: 448px;
                    }

                    .projects__second-proj--image {
                        width: 293px;
                        height: 448px;
                    }

                    .projects__second-proj {
                        width: 333px;
                        height: 634px;
                    }

                    .projects__third-proj {
                        display: none;
                    }
                }
            }
        }

        .graphics-design {
            height: 1122px;

            .container {
                max-width: 708px;

                .graphics-design__first-pict {
                    position: relative;
                    width: 708px;
                    height: 448px;
                    border-radius: 40px;
                    margin-top: 38px;
                }

                .graphics-design__first-pict--image {
                    width: 708px;
                    height: 448px;
                }

                .graphics-design__first-pict::before {
                    content: url(../images/Soft\ Star.png);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    width: 227px;
                    height: 227px;
                }

                .graphics-design__img-wrapper {
                    display: flex;
                    width: 708px;

                    .graphics-design__second-pict {
                        width: 336px;
                        height: 325px;
                        position: relative;
                        margin-right: 26px;
                    }

                    .graphics-design__second-pict--image {
                        width: 336px;
                        height: 325px;
                    }

                    .graphics-design__second-pict::before {
                        content: url(../images/Butterfly.svg);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        width: 147px;
                        height: 151px;
                    }

                    .graphics-design__third-pict {
                        width: 336px;
                        height: 325px;
                        position: relative;
                    }

                    .graphics-design__third-pict--image {
                        width: 336px;
                        height: 325px;
                    }

                    .graphics-design__third-pict::before {
                        content: url(../images/Asterisk\ 1.svg);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        width: 183px;
                        height: 177px;
                    }
                }
            }
        }

        .quote {

            .quote-wrapper {

                .quote__title-container {

                    .quote__title {
                        width: 704px;
                    }
                }
            }
        }

        .footer {

            .new-project {
                max-width: 708px;

                .new-project__wraper {
                    display: flex;

                    .new-project__text-wraper {
                        margin-left: 45px;
                        text-align: left;
                    }
                }
            }

            .social-media {
                margin-top: 60px;
                display: flex;
                justify-content: center;
                gap: 34px;

            }

            .footer__text {
                margin-top: 21px;
                padding-bottom: 35px;
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {

        .header {

            .container {
                max-width: 320px;
                margin: 0 auto;

                .header-menu {
                    position: fixed;
                    width: 320px;

                    .burger-menu {
                        display: flex;
                        padding: 20px;
                        gap: 12px;
                        border-radius: 20px;
                        border: 2px solid #FFF;
                        align-items: center;
                        position: absolute;
                        right: 0;
                        cursor: pointer;
                        color: #FFF;
                    }

                    .header-menu__buttons {
                        display: none;
                    }
                }

                .header__main-title {
                    width: 320px;
                    padding-top: 412px;
                    font-size: 3rem;
                }
            }
        }

        .meet {
            .container {
                max-width: 320px;

                .meet__circles {
                    right: -240px;
                }

                .meet-text {
                    width: 100%;

                    .meet-text__title {
                        font-size: 2.25rem;
                    }

                    .meet-text__main {
                        font-size: 0.9rem;
                    }

                    .meet-statistics {
                        gap: 40px;

                        .meet-statistics__number {
                            font-size: 2.25rem;
                        }

                        .meet-statistics__text {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }

        .projects {
            height: 1206px;

            .container {
                max-width: 320px;
                padding-top: 32px;

                .projects__banking-app {
                    width: 320px;
                    height: 488px;

                    .projects__banking-app--image {
                        width: 280px;
                        height: 238px;
                    }
                }

                .projects__banking-app {
                    width: 100%;

                    .projects__banking-app--title {
                        font-size: 2rem;
                    }

                    .projects__banking-app--text {
                        margin-top: 22px;
                        width: 100%;
                        font-size: 0.9rem;
                    }
                }

                .projects__wrapper {
                    margin-top: 32px;

                    .projects__first-proj {
                        width: 100%;
                        height: auto;
                        margin-top: 63px;
                    }

                    .projects__second-proj,
                    .projects__third-proj {
                        display: none;
                    }

                    .projects__first-proj--title {
                        font-size: 1.5rem;
                    }

                    .projects__proj--text {
                        width: 100%;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .graphics-design {
            height: 1260px;

            .container {
                max-width: 320px;

                .graphics-design__first-pict {
                    position: relative;
                    width: 320px;
                    height: 325px;
                    border-radius: 40px;
                    margin-top: 38px;
                }

                .graphics-design__first-pict--image {
                    width: 320px;
                    height: 325px;
                }

                .graphics-design__first-pict::before {
                    content: url(../images/Soft\ Star.png);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    width: 172px;
                    height: 172px;
                }

                .graphics-design__img-wrapper {
                    width: 320px;
                    display: flex;
                    flex-direction: column;

                    .graphics-design__second-pict {
                        width: 320px;
                        height: 325px;
                        position: relative;
                        margin-right: 26px;
                    }

                    .graphics-design__second-pict--image {
                        width: 320px;
                        height: 325px;
                    }

                    .graphics-design__second-pict::before {
                        content: url(../images/Butterfly.svg);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        width: 147px;
                        height: 151px;
                    }

                    .graphics-design__third-pict {
                        width: 336px;
                        height: 325px;
                        position: relative;
                    }

                    .graphics-design__third-pict--image {
                        width: 336px;
                        height: 325px;
                    }

                    .graphics-design__third-pict::before {
                        content: url(../images/Asterisk\ 1.svg);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        width: 183px;
                        height: 177px;
                    }
                }
            }
        }

        .quote {

            .quote-wrapper {

                .quote__title-container {

                    .quote__title {
                        width: 320px;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .footer {
    
            .new-project {
                margin-top: 78px;
                display: inline-flex;
                padding: 10.5px 32.5px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-radius: 139px;
                border: 1px solid var(--Gray-6, #F2F2F2);
                
                .new-project__icon {
                    width: 58px;
                    height: 58px;
                }
    
                .new-project__wraper {
                    display: flex;
    
                    .new-project__text-wraper {
                        margin-left: 20px;
    
                        .new-project__title {
                            color: #FFF;
                            font-family: DynaPuff;
                            font-size: 1.25rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
    
                        .new-project__text-book {
                            display: flex;
                            align-items: center;
                            margin-top: 4px;
                            color: #FFF;
                            font-family: Manrope;
                            font-size: 0.9rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
    
                            .new-project__text {
                                margin-right: 24px;
                            }
                        }
                    }
                }
            }
    
            .social-media {
                margin-top: 163px;
                display: flex;
                justify-content: center;
                gap: 34px;
    
            }
    
            .footer__text {
                margin-top: 21px;
                padding-bottom: 35px;
                color: #FFF;
                text-align: center;
                font-family: Manrope;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}